---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
export const prerender = false
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <h1>Hello, World!</h1>
    <!-- <Avatar server:defer>
      <GenericUserImage slot="fallback" />
    </Avatar> -->
  </body>
</html>
