---
import Shell from "./Shell.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<Shell title={title}>
	<nav>NAV</nav>
	<main>
		<slot />
	</main>
	<footer>FOOTER</footer>
</Shell>
