---
import Shell from "./Shell.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<Shell title={title}>
	<header class="w-full max-w-4xl mx-auto px-fluid-gutter py-fluid-s">
		<nav>NAV</nav>
	</header>
	<main class="flex-1 w-full max-w-4xl mx-auto px-fluid-gutter py-fluid-l">
		<slot />
	</main>
	<footer class="w-full max-w-4xl mx-auto px-fluid-gutter py-fluid-s">
		FOOTER
	</footer>
</Shell>
